.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    padding: 1rem;
    grid-gap: 1rem;
    min-height: 400px;
    max-width: 280px;
    border: 1px solid black;
    background-color:rgb(90, 92, 92);

    border-radius: .5rem;
    overflow: hidden;

    & > * {
        background-color: rgb(102, 102, 102);
        border-radius: inherit;
        overflow: inherit;
    }

    .display {
        grid-column: 1 / 5;
        grid-row: 1 / 3 ;
        font-size: 1.5rem;
        padding: .5rem;
        background-color: #00935b;
        color: white;
        display: grid;
        grid-template-rows: subgrid;
        align-content: center;
        justify-items: end;

        font-size: 2rem;
        font-weight: 600;
    }

    .controls {

        padding: .5rem;
        grid-column: 1 / 5;
        grid-row: 3 / 7;
        grid-gap: inherit;
        &, & > * {
            display: grid;
            grid-template-columns: subgrid;
            grid-template-rows: subgrid;
        }
        
        .numbers {
            grid-row:  1 / 5;
            grid-column: 1 / 4;
        }
        
        .arithmetic {
            grid-row:  1 / 5 ;
            grid-column: 4 / 5;
        }
        
         .execute {
            grid-row:  5 / 6 ;
            grid-column: 1 / 4;
         }
    }
}
